/* Base styles */
:root {
  --primary-color: #337681; /* Primary color */
  --overlay-bg: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  --text-color: #ffffff; /* Text color for overlay */
  --transition-duration: 0.3s; /* Smooth transition duration */
}
/* ::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
} */

body {
  margin: auto;
  font-family: system-ui, sans-serif;
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: #E7E7E7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* Center the items horizontally */
}
.title {
  font-size: clamp(1.1rem, calc(2vw + 0.5rem), 1.6rem);
  font-weight: 800;
  color: black;
  text-align: center;
}
